.outer{
    width: 600px;
    height: 300px;
    border: 4px solid #000;
}
.outer .inner{
   height: 100%; 
   width: 100%;
   background: orange;
   position: relative;
   left:0;
   display: flex;
   transition: all 1s;
}
.outer .inner img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;/*防止图片被压缩*/
}